@min767: ~"(min-width: 767px)";

.wall {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	text-align: center;
	position: relative;
	height: 100vh;

	.intro {

		.inner {

			span.sub-title {
				font-size: 15px;
				text-transform: uppercase;
				letter-spacing: 4px;
				display: block;
				margin-bottom: 20px;
			}
			.h1SvgName { margin-bottom: 0; }

			.mainSkillClass {
				font-size: 85px;
				font-weight: bold;
				font-family: 'Poppins', sans-serif;
				line-height: 90px;
				text-transform: inherit;
			 }
		}

		.designer-thumbnail {
			width: 85%;
			img {
				border-radius: 100%;
				padding: 0;
				border: 12px solid #fff;
			}
		}

	}

	svg {
		display: block;
		margin: 0 auto;
	}


}

@media only screen and (max-width: 800px) {
  	.wall{
		.main-title{
			svg{
				height: 100px;
			}
		}

		.social-buttons{
			display: none;
		}
		
		svg text {
		    font: bold 14px sans-serif;
		    font-family: 'Work Sans', sans-serif;
		}
	}
}
